{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended",
    "prettier"
  ],
  "plugins": [
    "import"
  ],
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "rules": {
    "func-names": ["error", "as-needed"],
    "radix": 0,
    "no-console": ["error", { "allow": [ "warn", "info", "error" ] }],
    "vue/no-v-html": "off",
    "vue/component-name-in-template-casing": "off"
  }
}
