.wpcf7 {
  span.wpcf7-not-valid-tip {
    @extend .invalid-feedback;

    display: block;
  }

  div.wpcf7-validation-errors {
    @extend .alert, .alert-danger;
  }

  div.wpcf7-mail-sent-ok {
    @extend .alert, .alert-success;
  }

  div.wpcf7-response-output {
    margin: $form-group-margin-bottom 0 0;
    text-align: center;
  }

  .wpcf7-text,
  .wpcf7-textarea {
    @extend .form-control;
  }

  .wpcf7-select {
    @extend .custom-select;

    color: $input-placeholder-color;

    &.filled {
      color: $input-color;
    }
  }

  .wpcf7-acceptance {
    span.wpcf7-list-item {
      margin: 0;

      label {
        @extend .custom-control, .custom-checkbox;

        input[type="checkbox"] {
          @extend .custom-control-input;
        }

        span {
          @extend .custom-control-label;
        }
      }
    }
  }

  .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: $form-group-margin-bottom;
  }

  input[type="submit"] {
    @extend .btn, .btn-primary;
  }

  .invalid {
    [aria-invalid="false"] {
      @extend .is-valid;
    }

    [aria-invalid="true"] {
      @extend .is-invalid;
    }
  }

  .screen-reader-response {
    display: none;
  }
}
