.alert {
  margin-bottom: 3rem;

  a {
    color: currentColor;
    border-bottom: 1px solid currentColor;

    &:hover {
      text-decoration: none;
    }
  }
}

.alert-danger {
  background-color: #fff4f4;
  border-color: #e74949;
  color: #e74949;
}

.alert-success {
  background-color: #f4fff6;
  color: #39b54a;
  border-color: #39b54a;
}
