.alert {
  a {
    color: currentColor;
    border-bottom: 1px solid currentColor;

    &:hover {
      text-decoration: none;
    }
  }
}

.alert-danger {
  color: #e74949;
  background-color: #fff4f4;
  border-color: #e74949;
}

.alert-success {
  color: #39b54a;
  background-color: #f4fff6;
  border-color: #39b54a;
}
