.wysiwyg {
  table {
    @extend .table, .table-bordered;
  }

  & > *:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  a {
    border-bottom: 0.1rem solid currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.3rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  img.alignright {
    float: right;
    margin: 0 0 2.5rem 1rem;
  }

  img.alignleft {
    float: left;
    margin: 0 1rem 2.5rem 0;
  }

  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .alignright {
    float: right;
  }

  .alignleft {
    float: left;
  }

  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    max-width: 100%;

    .wp-caption-text {
      text-align: center;
      margin-top: 0.5rem;
      color: $gray-600;
    }
  }
}
