.wysiwyg {
  table {
    @extend .table, .table-bordered;
  }

  & > *:not(:last-child) {
    margin-bottom: 0.93rem;
  }

  a {
    border-bottom: 1px solid currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @media (min-width: breakpoint-min(md)) {
    img.alignleft {
      float: left;
      margin: 0.93rem 0.93rem 0.93rem 0;
    }

    img.alignright {
      float: right;
      margin: 0.93rem 0 0.93rem 0.93rem;
    }

    .alignright {
      float: right;
    }

    .alignleft {
      float: left;
    }
  }

  @media (max-width: breakpoint-max(sm)) {
    .alignleft,
    .alignright,
    img.alignleft,
    img.alignright {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .aligncenter,
  img.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  ul,
  ol {
    padding: 0;
    clear: both;
    list-style: none;

    li {
      position: relative;
      padding-left: 1.875rem;
      line-height: 1.4;

      &:not(:last-child) {
        margin-bottom: 0.43rem;
      }
    }
  }

  ol {
    counter-reset: ol-counter;

    li::before {
      position: absolute;
      top: 0.0625rem;
      left: 0.125rem;
      font-weight: 500;
      color: theme-color();
      content: counter(ol-counter);
      counter-increment: ol-counter;
    }
  }

  ul {
    li {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0.8125rem;
        height: 0.6875rem;
        content: str-replace(
          url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11'%3E%3Cpath fill='#{theme-color()}' d='M13.097 5.487c0 .149-.06.283-.157.38l-4.298 4.298a.534.534 0 0 1-.759 0 .537.537 0 0 1 0-.76l3.38-3.381H1.1a.537.537 0 1 1 0-1.074h10.163l-3.38-3.381a.537.537 0 0 1 .759-.76l4.298 4.298a.537.537 0 0 1 .157.38z'/%3E%3C/svg%3E"),
          "#",
          "%23"
        );
      }
    }
  }

  figure {
    max-width: 100%;

    img {
      max-width: 100%;
      height: auto;
    }

    .wp-caption-text {
      margin-top: 0.3125rem;
      font-size: 80%;
      color: $gray-600;
      text-align: center;
    }
  }

  .gallery {
    display: flex;
    align-items: center;
    margin-right: -7px;
    margin-left: -7px;

    @for $i from 2 through 9 {
      &.gallery-columns-#{$i} .gallery-item {
        width: calc(100% / #{$i});
      }
    }

    figure {
      padding-right: 7px;
      padding-left: 7px;
      margin: 7px 0;
      text-align: center;
    }
  }
}
