.wysiwyg {
  table {
    @extend .table, .table-bordered;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  strong,
  b {
    font-weight: 700;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  img.alignright {
    float: right;
    margin: 0 0 1rem 1rem;
  }

  img.alignleft {
    float: left;
    margin: 0 1rem 1rem 0;
  }

  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .alignright {
    float: right;
  }

  .alignleft {
    float: left;
  }

  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
