html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  & > .wrap {
    flex: 1 0 auto;
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  transition: color 0.3s ease;
}
