html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  & > .wrap {
    flex: 1 0 auto;
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  transition: color 0.3s ease;
}

/** SVG Base Styles **/
.svg-container {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  transition: all 0.3s ease;

  .placeholder {
    min-height: 0.1rem;
  }

  &:not(.no-color) {
    svg {
      width: inherit;
      height: inherit;
      display: inline-block;
      color: inherit !important;

      [style*='stroke:#']:not(.nocolor),
      [style*='stroke: #']:not(.nocolor),
      [stroke*='#']:not(.nocolor) {
        stroke: currentColor !important;
        transition: stroke 0.3s ease;
      }

      [style*='fill:#']:not(.nocolor),
      [style*='fill: #']:not(.nocolor),
      [fill*='#']:not(.nocolor) {
        fill: currentColor !important;
        transition: fill 0.3s ease;
      }

      [fill*='none'] {
        fill: transparent;
      }

      [stroke*='none'] {
        stroke: transparent;
      }
    }
  }
}

/** Slick Base Styles **/
.slick-slider {
  visibility: hidden;

  .slick-slide,
  .slick-slide a:focus {
    outline: none !important;
  }
}

.slick-initialized {
  visibility: visible;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  z-index: 5;

  &.slick-prev {
    left: 0;
  }

  &.slick-next {
    right: 0;
  }

  &:focus {
    outline: none;
  }
}

.slick-dots {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  li button {
    font-size: 0;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: 0;
    background: #dcdcdc;
    transition: background 0.3s ease;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  li.slick-active button {
    background: theme-color();
  }
}
