.svg-container {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  transition: all 0.3s ease;

  .placeholder {
    min-height: 0.1rem;
  }

  &:not(.no-color) {
    svg {
      display: inline-block;
      width: inherit;
      height: inherit;
      color: inherit !important;

      [style*="stroke:#"]:not(.nocolor),
      [style*="stroke: #"]:not(.nocolor),
      [stroke*="#"]:not(.nocolor) {
        stroke: currentColor !important;
        transition: stroke 0.3s ease;
      }

      [style*="fill:#"]:not(.nocolor),
      [style*="fill: #"]:not(.nocolor),
      [fill*="#"]:not(.nocolor) {
        fill: currentColor !important;
        transition: fill 0.3s ease;
      }

      [fill*="none"] {
        fill: transparent;
      }

      [stroke*="none"] {
        stroke: transparent;
      }
    }
  }
}

button {
  &.loader {
    position: relative;
    color: transparent !important;
    pointer-events: none;

    &::after {
      position: absolute;
      top: calc(50% - (1em / 2));
      left: calc(50% - (1em / 2));
      width: 1em;
      height: 1em;
      content: "";
      border: 2px solid #dbdbdb;
      border-top-color: transparent;
      border-right-color: transparent;
      border-radius: 290486px;
      animation: spinAround 500ms infinite linear;
    }
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
