button {
  &.loader {
    position: relative;
    color: transparent !important;
    pointer-events: none;

    &::after {
      position: absolute;
      top: calc(50% - (1em / 2));
      left: calc(50% - (1em / 2));
      width: 1em;
      height: 1em;
      content: "";
      border: 2px solid #dbdbdb;
      border-top-color: transparent;
      border-right-color: transparent;
      border-radius: 290486px;
      animation: spinAround 500ms infinite linear;
    }
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
